/* Reset e configurações globais */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Open Sans", sans-serif;
  color: #333333;
}

/* Estilo geral do corpo da página */
body {
  background-color: #f5f4f0;
  font-family: "Open Sans", sans-serif;
  color: #333;
}

/* Container principal */
main#page {
  max-width: 1120px;
  margin: 0 auto;
  padding: 88px 80px;
  border-color: #d9d9d9;
}

/* Imagens */
img {
  border-radius: 28px;
  image-rendering: auto;
  max-width: 100%;
  height: auto;
}

/* Cabeçalhos */
h1 {
  margin-top: 8px;
  margin-bottom: 40px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 4px;
}

h4 {
  color: #e1624f;
}

/* Seções específicas */
#image {
  text-align: center;
}

#description {
  margin-top: 24px;
  margin-bottom: 40px;
  text-align: center;
  font-style: italic;
}

#title-list {
  margin-top: 64px;
  margin-bottom: 64px;
}

#destinos {
  margin-top: 2px;
  margin-bottom: 8px;
}

ul {
  padding-left: 26px;
}

span {
  color: #0C51A7;
  font-weight: bold;
}

/* Cards */
#card-travel2 img,
#card-travel3 img {
  margin-top: 48px;
}

/* Texto destacado */
#bom-para {
  font-weight: bold;
}

#purple {
  color: #591B98;
}

#pink {
  color: #E5245E;
}

#orange {
  color: #E95E10;
}
